#header-card {
    text-align:center;
}

#sel_lang {
    width: 150px;
    display: inline;
    float: right;
}

#editor { 
    position: relative;
    width: 100%;
    height: 400px;
}

#opwindow {
    position: relative;
    width:100%;
    height: 600px;
    font-family: monospace;
    padding: 5px;
}

#editor, #opwindow {
    border-radius: 5px;
}